# Default ignored files
/.idea/
/__pycache__/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg
build/
dist/

# Jupyter Notebook
.ipynb_checkpoints

# specific
.*.db
*.db
*.eggs
*.env
*.venv

# mkdocs
site/
docs/*.py

# Jupyter Notebook
.ipynb_checkpoints
