site_name: pyqtorch
repo_url: "https://github.com/pasqal-io/pyqtorch"
repo_name: "pyqtorch"

nav:

  - pyqtorch in a Nutshell: index.md
  - API: api.md
  - How to Contribute: CONTRIBUTING.md
  - Code of Conduct: CODE_OF_CONDUCT.md
  - Advanced Features:
    - Differentiation: differentiation.md
    - Use Arbitrary Expressions as Gate Parameters via Embedding: embed.md
    - Analog Operations: analog.md
    - Noisy simulation: noise.md
    - Quantum Dropout: dropout.md
    - CUDA Profiling and debugging: cuda_debugging.md
    - Time-dependent simulation: time_dependent.md
  - Tutorials:
    - Fitting a nonlinear function: fitting_a_function.md
    - Solving a partial differential equation using DQC: pde.md


theme:
  name: material
  features:
  - content.code.annotate
  - navigation.indexes
  - navigation.sections

  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: light green
    accent: purple
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: light green
    toggle:
      icon: material/weather-night
      name: Switch to light mode

markdown_extensions:
- admonition  # for notes
- pymdownx.arithmatex: # for mathjax
    generic: true
- pymdownx.highlight:
    anchor_linenums: true
- pymdownx.inlinehilite
- pymdownx.snippets
- pymdownx.superfences

plugins:
- search
- section-index
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        options:
          filters:
            - "!^_"  # exlude all members starting with _
            - "^__init__$"  # but always include __init__ modules and methods

- mkdocs-jupyter:
    theme: light
- markdown-exec

extra_css:
- extras/css/mkdocstrings.css
- extras/css/colors.css
- extras/css/home.css

# For mathjax
extra_javascript:
  - extras/javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

watch:
  - pyqtorch
